<div class="container-fluid index">
    <div class="text">
        <h1 class="">login <br/> user or admin</h1>
    </div>
    <div class="btns">
        <a href="/user">user</a>
        <a href="/admin">admin</a>
    </div>
</div>