<div class="user-home">
    <h2>User home page</h2>
    <h1>welcome <span>{{user.name}}</span></h1>
    <div>
        <a href="http://localhost:8000">to home</a>
        <a href="/user/logout">click to login</a>
    </div>
</div>